<tr>
  <td><%= question.body %></td>
  <td><%= link_to t('.show_question'), admin_question_path(question) %></td>
  <td><%= link_to t('.edit_question'), edit_admin_question_path(question) %></td>
  <td>
    <%= link_to t('.delete_question'),
                  admin_question_path(question),
                  method: :delete,
                  data: {confirm: 'Are you sure?' } %>
  </td>
</tr>
